<header class="header page__header">
  <div class="container">
    <a href="#" class="header__logo">
        <svg class="header__logo-icon">
            <use xlink:href="../../../assets/svg/inline/images.svg#logo"></use>
        </svg>
    </a>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__list-item"><a href="#" class="header__list-link">Концепция</a></li>
            <li class="header__list-item"><a href="#" class="header__list-link">Компоненты</a></li>
            <li class="header__list-item"><a href="#" class="header__list-link">Макеты</a></li>
        </ul>
    </nav>
  </div>
</header>

<main class="page__content">
