.header {

  padding: 23px 0;
  color: #717784;
  box-shadow: 1px 4px 9px rgba(48, 66, 117, 0.13);

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 149px;
    height: 47px;

    &-icon {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 336px;
    font-weight: 500;
    font-size: 18px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
